/* Defines custom DINPro and DINPro bold fonts */
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Regular.otf');
}

@font-face {
  font-family: 'DINPro-Bold';
  font-weight: 900;
  src: url('../fonts/DINPro-Bold.otf');
}

#main-nav{
  background-color: #ff7bac;
}

/* Resets the fonts for selected elements and classes */
body{
  font-family:'DinPro';
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'DINPro-Bold', 'Helvetica', sans-serif ;
}

.btn-primary{
  font-family: 'DINPro', 'Helvetica', sans-serif ;
}

.btn-xl{
  font-family: 'DINPro', 'Helvetica', 'sans-serif' ;
  background-color: #ff7bac;
  border-color: black;
  border-width:thick;
}

.navbar-custom .navbar-brand {
  font-family: 'DINPro', 'Helvetica', 'sans-serif' ;
    color: white;
}

.navbar-custom .navbar-toggle {
  font-family: 'DINPro','Helvetica', 'sans-serif' ;
  background-color: #ff7bac;
  border-color: #ff7bac;
}

/* changes navbar hover color to blue */
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #00ffff;
  outline: none;
}


.navbar-custom .nav li a {
  font-family: 'DINPro', 'Helvetica', 'sans-serif' ;
}

header .intro-text .intro-lead-in {
  font-family: 'DINPro', 'Helvetica', 'sans-serif' ;
}

header .intro-text .intro-heading {
  font-family: 'DINPro-Bold', 'Helvetica', 'sans-serif' ;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: 'DINPro-Bold', 'Helvetica', 'sans-serif' ;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: 'DINPro-Bold', 'Helvetica', 'sans-serif' ;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

section h3.section-subheading {
  font-family: 'DINPro-Bold', 'Helvetica', 'sans-serif' ;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: 'DINPro', 'Helvetica', 'sans-serif' ;
}

section#contact ::-webkit-input-placeholder {
  font-family: 'DINPro', 'Helvetica', 'sans-serif'
}

section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: 'DINPro', 'Helvetica', 'sans-serif'

}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'DINPro', 'Helvetica', 'sans-serif'

}
section#contact :-ms-input-placeholder {
  font-family: 'DINPro', 'Helvetica', 'sans-serif'

}

footer span.copyright {
  font-family: 'DINPro', 'Helvetica', 'sans-serif'
}

footer ul.quicklinks {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content p.item-intro {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
  font-size: 20px;
}

header .intro-text .intro-lead-in {
  font-family: DINPro;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 25px;
}

header .intro-text .intro-heading {
  margin-bottom: 15px;
}

/* Changes navbar settings to Technica colors */
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #ff7bac;
}

.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #ff7bac;
}

/* Animates main section of the website */
.animate{
  background: linear-gradient(270deg, #00ffff, #ff7bac);
  background-size: 400% 400%;

  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
}

/*reverse animation for the Main button */
.animate_rev{
  background: linear-gradient(270deg, #ff7bac, #00ffff);
  background-size: 400% 400%;

  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*a,
a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
}*/

/* supresses link color change on panel headings */
a {
  color: inherit;
}
a:hover,
a:focus,
a:active,
a.active {
  color: inherit;
  text-decoration:underline;
}



/* Changes highlight colors to light blue */
::-moz-selection { /* Code for Firefox */
    background: #00ffff;
}

::selection {
    background: #00ffff;
}

/* customizes panel headings to Technica colors (blue and pink)*/
.panel-default > .panel-heading-blue {
    background: #00ffff; color: black;
}

.panel-default > .panel-heading-pink {
    background: #ff7bac; color: black;
}

/* changes panel heading hover colors */
.panel-heading:hover{
  opacity:0.85
}
.panel-heading-pink:hover {
  opacity:0.85
}

.panel-heading-blue:hover {
  opacity:0.7
}

.panel-default > .panel-heading-gray {
    background: #464343; color: white;
}

/* Changes color of social buttons */
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #ff7bac;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #00ffff;
  border-color: black;
}
